    /* up to 680px small devices responsiveness (w) */
@media (max-width: 680px) {

    .toolbar-container{
        height: 185px;
    } 
    
    .btn{
        font-size: 42px;
        margin: 30px 0 0 20px;
        padding: 2px;
    }

    .align-btn{
        font-size: 42px;
        margin: 75px 0 0 8px;
    }

    .whole-container{
        font-size: 30px;
        margin: 0;
    }


    .user-content-container{
        margin: 0;
        min-height: 1475px;
    }

    button .tooltip:hover::after{
        display: none;
    }

}



    /* 681px-789px (w) devices responsiveness */
@media (min-width: 681px) and (max-width: 789px) {

    .toolbar-container{
        height: 150px;
    } 
    
    .btn{
        font-size: 40px;
        padding: 2px;
        margin: 15px 0 0 20px;
    }

    .align-btn{
        font-size: 42px;
        margin: 55px 0 0 8px;
    }

    .whole-container{
        font-size: 30px;
        margin: 0;
    }


    .user-content-container{
        min-height: 1208px;
        margin: 0;
    }

    button .tooltip:hover::after{
        display: none;
    }

}



    /* 866px-1039px (w) & 876px-above (h) devices responsiveness */
@media (min-width: 866px) and (max-width: 1039px) and (min-height: 876px) {

    .whole-container{
        font-size: 30px;
        margin: 0;
    }


    .user-content-container{
        margin: 0;
        min-height: 800px;
    }

    button .tooltip:hover::after{
        display: none;
    }

}



    /* 1040px-1212px (w) devices responsiveness */
@media (min-width: 1040px) and (max-width: 1212px) {

    .whole-container{
        font-size: 30px;
        margin: 0;
    }


    .user-content-container{
        margin: 0;
        min-height: 1100px;
    }
    button .tooltip:hover::after{
        display: none;
    }

}



    /* horizontal-centered phones responsiveness */
@media (max-height: 530px) and (min-width: 450px) and (max-width: 840px) {

    .toolbar-container{
        height: 100px;
    } 
    
    .btn{
        font-size: 28px;
        margin: 7.5px 0 0 20px;
        padding: 2px;
    }

    .align-btn{
        font-size: 28px;
        margin: 24px 0 0 8px;
    }

    .whole-container{
        font-size: 30px;
        margin: 0;
    }

    .user-content-container{
        margin: 0;
        min-height: 300px;
    }

    button .tooltip:hover::after{
        display: none;
    }

}



    /* iPad & simillar devices responsiveness (w & h) */
@media (min-width: 740px) and (max-width: 790px) and (min-height: 1000px) and (max-height: 1070px ) {

    .toolbar-container{
        height: 150px;
    } 
    
    .btn{
        font-size: 32px;
        margin: 20px 0 0 23px;
        padding: 2px;
    }

    .align-btn{
        margin: 52.5px 0 0 23px;
        font-size: 38px;
    }

    .whole-container{
        margin: 0;
        font-size: 25px;
    }


    .user-content-container{
        margin: 0;
        min-height: 855px;
    }

    button .tooltip:hover::after{
        display: none;
    }
    
}



    /* iPad Pro & simillar devices responsiveness (w & h) */
@media (min-width: 1000px) and (max-width: 1150px) and (min-height: 1170px) and (max-height: 1410px) {

    .toolbar-container{
        height: 150px;
    } 
    
    .btn{
        font-size: 32px;
        margin: 20px 0 0 23px;
        padding: 2px;
    }

    .align-btn{
        margin: 52.5px 0 0 23px;
        font-size: 38px;
    }

    .whole-container{
        font-size: 25px;
        margin: 100px 0 0;
    }


    .user-content-container{
        margin: 0;
        min-height: 962px;
    }

    button .tooltip:hover::after{
        display: none;
    }

}



    /* 790px-1126px (w) & 680px-900px (h) devices responsiveness */
@media(min-width: 790px) and (max-width: 1126px) and (min-height: 680px) and (max-height: 900px) {

    .toolbar-container{
        height: 120px;
    } 
    
    .btn{
        font-size: 32px;
        margin: 15px 0 0 23px;
        padding: 2px;
    }

    .align-btn{
        font-size: 38px;
        margin: 30px 0 0 23px;
    }

    .whole-container{
        font-size: 25px;
        margin: 0 0 0;
    }

    .user-content-container{
        margin: 0;
        min-height: 700px;
    }

}



    /* 1213px-1590px (w) & 680px-above (h) laptops responsiveness */
@media (min-width: 1213px) and (max-width: 1590px) and (min-height: 680px) {

    .toolbar-container{
        height: 100px;
    } 
    
    .btn{
        font-size: 28px;
        padding: 2px;
        margin: 10px 0 0 23px;
    }

    .align-btn{
        font-size: 28px;
        margin: 25px 0 0 23px;
    }

    .whole-container{
        font-size: 25px;
        margin: 0 0 0;
    }

    .user-content-container{
        margin: 0;
        min-height: 700px;
    }

}



    /* responsiveness up to 799px (w) & 990px (h) */
@media (max-width: 799px) and (max-height: 990px) {

    .toolbar-container{
        height: 100px;
    } 
    
    .btn{
        font-size: 28px;
        padding: 2px;
        margin: 10px 0 0 23px;
    }

    .align-btn{
        font-size: 28px;
        margin: 25px 0 0 23px;
    }

    .whole-container{
        font-size: 25px;
        margin: 0 0 0;
    }

    .user-content-container{
        margin: 0;
        min-height: 800px;
    }

}
